/* table {
    width:500px;
    border:solid 1px red;
}
table th {
    width:50px;
}

tbody tr td {
    text-align:center;
    width:100px;
    display:inline-block;
} */

table th {
    width:150px;
    text-align:center;
}

tbody tr td {
    text-align:center;
    width:150px;
    display:inline-block;
} 